<div class="row section2 ">
  <div class="col-xl  d-none d-xl-block left-block">
    <div class="img-holder">
      <img src="./assets/imgs/43.png" alt="img" style="margin: auto 30px auto 0" class="borderImage" id="animation9">
      <img src="./assets/imgs/137.png" alt="img" style="margin: auto auto 0 0" class="borderImage" id="animation10">
    </div>
    <div class="img-holder">
      <img src="./assets/imgs/21.png" alt="img" style="margin: auto auto auto 30px" class="borderImage" id="animation11">
    </div>
    <div class=" col d-flex p-0">
      <img src="./assets/imgs/25.png" alt="img" style="margin: auto 0 auto 0" class="borderImage" id="animation8">
      <img src="./assets/imgs/16.png" alt="img" style="margin: 0 0 auto 30px" class="borderImage" id="animation7">
    </div>
  </div>
  <div class="col-xl-4 col-10 m-auto    middle-block">
    <div class="">
      <h1><span class="main-world">DISCOVER</span><br><span class="second-world">WORLD OF</span> <span class=" second-world logo-shadow">ART</span></h1>
      <form  class="form" ngNativeValidate>
        <div class="input-group mb-3">
          <input type="text" class="form-control looking-field" placeholder="What are you looking for?" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-default button-search" routerLink="/database" type="button">Search</button>
          </div>
        </div>
      </form>
      <div class="m-auto">
      </div>
      <div class=" col  d-xl-flex d-none d-sm-flex  p-0" style="margin: 3rem 0 0 0">
        <img src="./assets/imgs/42.png" alt="img" style="margin: 120px 30px 0 0" class="borderImage" id="animation6">
        <img src="./assets/imgs/48.png" alt="img" style="margin: 0 0 auto auto" class="borderImage" id="animation5">
      </div>
    </div>
  </div>
  <div class="col-xl  d-none d-xl-block right-block">
    <img src="./assets/imgs/skull.png" alt="img" class="float-img" class="borderImage" id="animation1">
    <div class=" col d-flex p-0">
      <img src="./assets/imgs/134.png" alt="img" style="margin: 0 30px 30px auto; height: 171px" class="borderImage" id="animation2">
    </div>
    <div class=" col d-flex p-0">
      <img src="./assets/imgs/140.png" alt="img" style="margin: 0 0 30px auto" class="borderImage" id="animation3">
    </div>
    <div class=" col d-flex  p-0">
      <img src="./assets/imgs/eclipse.png" alt="img" style="margin: 0 0 0 auto" class="borderImage" id="animation4">
    </div>
  </div>
</div>
<div class="row  section3 ">
  <div class="col-xl-8 col-md-10 m-auto text-center">
    <!--<h1><b>What Do You Need To <span class="logo-shadow">Find</span> ?</b></h1>-->
    <h1><span class="second-world"> Browse our </span><span class="logo-shadow">Database</span></h1>
    <p class="m-auto" style="width: 45%">Lorem ipsum dolor sit amet, conseur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
  </div>
  <div class="col-xl-11 col-md-10 slider">
    <div class="row" style="height: 450px; overflow: hidden">
      <button class="btn btn-dark next-arrow"><img style="height: 12px" class="m-auto" src="./assets/imgs/svg/arrow-pointing-to-right-white.svg"></button>
      <div class="col-xl col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive borderImage" src="./assets/imgs/Van_Gogh_-_Terrasse_des_Cafés_an_der_Place_du_Forum_in_Arles_am_Abend1.jpeg" alt="" width="100%">
          <div class="overlay row m-0">
            <!--<h2>Hover effect 1</h2>-->
            <div class="col d-flex top-part">
            <span class="title">Works</span>
            </div>
            <div class="line-block">
              <span class="line"></span>
            </div>
            <div class="col d-flex bot-part">
            <span class="info">More information</span>
              <div class="d-flex arrow-holder"><svg class="m-auto arrow-right" xmlns="http://www.w3.org/2000/svg" width="20.344" height="14" viewBox="0 0 20.344 14"><defs></defs><g transform="translate(0 -41.916)"><path class="a" d="M20.067,48.247l-6.054-6.054a.946.946,0,0,0-1.338,1.338l4.439,4.439H.946a.946.946,0,1,0,0,1.892H17.114L12.675,54.3a.946.946,0,0,0,1.338,1.338l6.054-6.054A.946.946,0,0,0,20.067,48.247Z"/></g></svg></div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-xl col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive borderImage" src="./assets/imgs/warhol-basquiat.jpg" alt="" >
          <div class="overlay row m-0">
            <!--<h2>Hover effect 1</h2>-->
            <div class="col d-flex top-part">
              <span class="title">Artist</span>
            </div>
            <div class="line-block">
              <span class="line"></span>
            </div>
            <div class="col d-flex bot-part">
              <span class="info">More information</span>
              <div class="d-flex arrow-holder"><svg class="m-auto arrow-right" xmlns="http://www.w3.org/2000/svg" width="20.344" height="14" viewBox="0 0 20.344 14"><defs></defs><g transform="translate(0 -41.916)"><path class="a" d="M20.067,48.247l-6.054-6.054a.946.946,0,0,0-1.338,1.338l4.439,4.439H.946a.946.946,0,1,0,0,1.892H17.114L12.675,54.3a.946.946,0,0,0,1.338,1.338l6.054-6.054A.946.946,0,0,0,20.067,48.247Z"/></g></svg></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl col-lg-3 col-md-4 col-sm-6 col-xs-12"  [routerLink]="['/museums']">
        <div class="hovereffect">
          <img class="img-responsive borderImage" src="./assets/imgs/Louvre_2007_02_24_c2.jpg" alt="" >
          <div class="overlay row m-0">
            <!--<h2>Hover effect 1</h2>-->
            <div class="col d-flex top-part">
              <span class="title">Museums</span>
            </div>
            <div class="line-block">
              <span class="line"></span>
            </div>
            <div class="col d-flex bot-part">
              <span class="info">More information</span>
              <div class="d-flex arrow-holder"><svg class="m-auto arrow-right" xmlns="http://www.w3.org/2000/svg" width="20.344" height="14" viewBox="0 0 20.344 14"><defs></defs><g transform="translate(0 -41.916)"><path class="a" d="M20.067,48.247l-6.054-6.054a.946.946,0,0,0-1.338,1.338l4.439,4.439H.946a.946.946,0,1,0,0,1.892H17.114L12.675,54.3a.946.946,0,0,0,1.338,1.338l6.054-6.054A.946.946,0,0,0,20.067,48.247Z"/></g></svg></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive borderImage" src="./assets/imgs/Art-of-This-Century-view-of-the-Abstract-Gallery-New-York-ca.-1943_2.jpg" alt="" >
          <div class="overlay-2"></div>
          <div class="overlay row m-0">
            <!--<h2>Hover effect 1</h2>-->
            <div class="col d-flex top-part">
              <span class="title">Exhibitions</span>
            </div>
            <div class="line-block">
              <span class="line"></span>
            </div>
            <div class="col d-flex bot-part">
              <span class="info">More information</span>
              <div class="d-flex arrow-holder"><svg class="m-auto arrow-right" xmlns="http://www.w3.org/2000/svg" width="20.344" height="14" viewBox="0 0 20.344 14"><defs></defs><g transform="translate(0 -41.916)"><path class="a" d="M20.067,48.247l-6.054-6.054a.946.946,0,0,0-1.338,1.338l4.439,4.439H.946a.946.946,0,1,0,0,1.892H17.114L12.675,54.3a.946.946,0,0,0,1.338,1.338l6.054-6.054A.946.946,0,0,0,20.067,48.247Z"/></g></svg></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive borderImage" src="./assets/imgs/14995_davinci_101_2.jpg" alt="" >
          <div class="overlay-2"></div>
          <div class="overlay row m-0">
            <!--<h2>Hover effect 1</h2>-->
            <div class="col d-flex top-part">
              <span class="title">Sales</span>
            </div>
            <div class="line-block">
              <span class="line"></span>
            </div>
            <div class="col d-flex bot-part">
              <span class="info">More information</span>
              <div class="d-flex arrow-holder"><svg class="m-auto arrow-right" xmlns="http://www.w3.org/2000/svg" width="20.344" height="14" viewBox="0 0 20.344 14"><defs></defs><g transform="translate(0 -41.916)"><path class="a" d="M20.067,48.247l-6.054-6.054a.946.946,0,0,0-1.338,1.338l4.439,4.439H.946a.946.946,0,1,0,0,1.892H17.114L12.675,54.3a.946.946,0,0,0,1.338,1.338l6.054-6.054A.946.946,0,0,0,20.067,48.247Z"/></g></svg></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center section4">
  <div class="col-11">
    <div class="row">
      <div class="col-xl-3 col-lg-12">
        <h1 class="featured">Featured<span class="logo-shadow">Works</span></h1>
        <p class="featured-text " >Browse a selection of popular and featured works from our database.</p>
        <button class="btn btn-default button-show">View all</button>
        <div class="d-flex arrows-holder">
          <button class="btn btn-info next-arrow-transp"><img style="height: 12px" class="m-auto" src="./assets/imgs/svg/arrow-pointing-to-left.svg"></button>
          <button class="btn btn-info next-arrow-transp"><img style="height: 12px" class="m-auto" src="./assets/imgs/svg/arrow-pointing-to-right-gray.svg"></button>
        </div>
      </div>
      <div class="col-xl-9 col-lg-12 slider">
        <div class="row" style="overflow: hidden; height: 600px; margin-left: 1px; margin-top: 0px;">
          <div class="col-sm-4 d-flex align-items-start flex-column">
            <div class="slider-block">Eclipse of the sun</div>
            <div>
              <img class="img-responsive borderImage" src="./assets/imgs/eclipse.png" alt="" width="100%" >
            </div>
            <div class="slider-block">Oil on canvas</div>
            <div style="align-self: center;">
                <div style="text-align: left;padding-right: 40px;">
                  <img src="./assets/imgs/svg/user.svg" style=" height: 18px; margin: auto 0;"> George Grosz <br>
                  <img src="./assets/imgs/svg/clock.svg" style="height: 18px; margin: auto 0;"> 1926 <br>
                  <img src="./assets/imgs/svg/medium.svg" style="height: 18px; margin: auto 0;"> Medium <br>
                  <img src="./assets/imgs/svg/location.svg" style="height: 18px; margin: auto 0;"> Location
                </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-start flex-column">
            <div class="slider-block">Skull</div>
            <div>
              <img class="img-responsive borderImage" src="./assets/imgs/skull.png" alt="" width="100%" >
            </div>
            <div class="slider-block">Oil on canvas</div>
            <div style="align-self: center;">
              <div style="text-align: left;padding-right: 40px;">
                <img src="./assets/imgs/svg/user.svg" style=" height: 18px; margin: auto 0;">  Vincent van Gogh <br>
                <img src="./assets/imgs/svg/clock.svg" style="height: 18px; margin: auto 0;"> 1887 <br>
                <img src="./assets/imgs/svg/medium.svg" style="height: 18px; margin: auto 0;"> Medium <br>
                <img src="./assets/imgs/svg/location.svg" style="height: 18px; margin: auto 0;"> Location
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-start flex-column">
              <div class="slider-block">Opening of the Fifth Seal</div>
              <div>
                <img class="img-responsive borderImage" src="./assets/imgs/31-collection.png" alt="" width="100%" >
              </div>
              <div class="slider-block">Oil on canvas</div>
              <div style="align-self: center;">
                  <div style="text-align: left;padding-right: 40px;">
                    <img src="./assets/imgs/svg/user.svg" style=" height: 18px; margin: auto 0;"> Vincent van Gogh <br>
                    <img src="./assets/imgs/svg/clock.svg" style="height: 18px; margin: auto 0;"> 1888 <br>
                    <img src="./assets/imgs/svg/medium.svg" style="height: 18px; margin: auto 0;"> Medium <br>
                    <img src="./assets/imgs/svg/location.svg" style="height: 18px; margin: auto 0;"> Location
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center section5 m-0">
  <div class="col-11">
    <h1 class="featured text-center services-title">Browse Our <span class="logo-shadow">Services</span></h1>
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-3 col-sm-6 col-12 p-0 d-flex item-container center ">
          <div class=" service-item">
            <a class="nav-link" routerLink='/database' routerLinkActive="active"><img class="service-image" src="./assets/imgs/svg/Mask_Group_3.svg"></a>
            <div class=" d-flex flex-row" style="margin: auto auto 2rem 2rem;">
            <span class="service-title" style="margin: auto ">Database</span>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12 p-0 d-flex item-container m-auto">
          <div class=" service-item">
            <img class="service-image lens"  src="./assets/imgs/svg/Mask_Group_1.svg">
            <div class=" d-flex flex-row" style="margin: auto auto 2rem 2rem;">
            <span class="service-title" style="margin: auto">Market<br>Analytics</span>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12 p-0 d-flex item-container m-auto">
          <div class=" service-item">
              <a class="nav-link" routerLink='/collection' routerLinkActive="active"><img class="service-image"  src="./assets/imgs/svg/Mask_Group_16.svg"></a>
            <div class=" d-flex flex-row" style="margin: auto auto 2rem auto;">
            <span class="service-title" style="margin: auto">MyCollection</span>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-3 col-sm-6 col-12 p-0 d-flex item-container m-auto">
           <div class=" service-item ">
              <a class="nav-link" routerLink='/location' routerLinkActive="active"><img class="service-image" src="./assets/imgs/svg/Mask_Group_7.svg"></a>
             <div class=" d-flex flex-row" style="margin:auto auto 2rem auto">
             <span class="service-title" style="margin: auto ;">ArtMap</span>
             </div>
           </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12 p-0 d-flex item-container m-auto">
          <div class=" service-item" [routerLink]="['/news']">
            <img class="service-image" src="./assets/imgs/svg/Mask_Group_15.svg">
            <div class=" d-flex flex-row" style="margin:auto auto 2rem auto;">
            <span class="service-title" style="margin: auto;">News</span>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12 p-0 d-flex item-container m-auto">
          <div class=" service-item">
            <img class="service-image" src="./assets/imgs/svg/Mask_Group_9.svg">
            <div class=" d-flex flex-row" style="margin: auto auto 2rem auto;">
            <span class="service-title" style="margin: auto ">Calendar</span>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12 p-0 d-flex item-container m-auto">
          <div class=" service-item">
            <img class="service-image" src="./assets/imgs/svg/Mask_Group_13.svg">
            <div class=" d-flex flex-row" style="margin: auto auto 2rem 2rem;">
            <span class="service-title" style="margin: auto ">Software<br>Solutions</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content section6">
  <div class="col-11 m-auto purple-block">
    <div class="row">
      <div class="col-xl-3 d-none d-xl-block p-0">
        <img class="purple-block-image" src="./assets/imgs/342-left.png">
      </div>
      <div class="col-xl-6 col-lg-12 d-flex">
        <div class="d-flex flex-column middle-block w-100">
      <h1 class="featured text-center">A platform like no other</h1>
      <p class="" style="margin: 2rem 0">Create an account to save artworks, manage your collection, view market insights and more.</p>
        <div class="d-flex">
          <button class="btn btn-default m-auto create-account" routerLink="/register"   routerLinkActive="active">Create account</button>
        </div>
      </div>
      </div>
      <div class="col-xl-3 d-none d-xl-flex p-0 ">
        <img class="purple-block-image" style="margin: 0 0 0 auto;" src="./assets/imgs/342-right.png">
      </div>
    </div>
  </div>
</div>


