<footer class="footer">
  <div class="">
    <div class="row m-0">

      <div class="col-xl-3 col-lg-3 col-md-12 col-12 d-flex">
        <div class="logo-holder m-auto"><a  routerLink="/"   routerLinkActive="active"><span class="logo-text logo-shadow">ART</span> <span class="logo-text">Database</span></a></div>
      </div>

      <div class="col-xl-1 col-lg-1 col-md-12 col-12 d-flex">
        <a class="m-auto w-100" href="#">Database</a>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-12 col-12 d-flex">
        <a class="m-auto w-100" href="#">Art Market</a>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-12 col-12 d-flex">
        <a class="m-auto w-100" href="#">My Collection</a>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-12 col-12 d-flex">
        <a class="m-auto w-100" href="#">About</a>
      </div>
      <div class="col-xl-5 col-lg-4 col-md-12 col-12 d-flex">
        <a class="m-auto w-100" href="#">© 2019 Les droits d'auteur du site vont ici.</a>
      </div>

    </div>
  </div>
</footer>
