.allarts-container {
  margin: 50px 50px 70px 50px;
}
.art-container {
  width: 350px;
  margin: auto;
}
.art-card {
  width: 100%;
}
.art-card:hover .art-item {
  opacity: 0.7;
}

.art-item {
  display: block;
  width: 100%;
  object-fit: cover;
}

.art-title {
  width: 100%;
  margin: auto;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
}

.art-arttitle {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: .02em;
  text-transform: capitalize;
}

.art-artist {
  font-size: 1.0em;
  letter-spacing: .01em;
  text-transform: capitalize;
}

dyn-page {
  display: block;
}

dyn-page:nth-child(even) {
  background-color: #ccc;
}

.loading {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.masonry-container {
  width: 1450px;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .masonry-container {
    width: 350px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 900px) {
  .masonry-container {
    width: 750px;
  }
}
@media screen and (max-width: 1550px) and (min-width: 1200px) {
  .masonry-container {
    width: 1100px;
  }
}
