<div class="form_group">
  <a href="http://onelinky.ga/oauth/google" title="Google">
    <fa name="google" class="social-icon"></fa>
  </a>
  <a href="http://onelinky.ga/oauth/linkedin" title="Linkedin">
    <fa name="linkedin" class="social-icon"></fa>
  </a>
  <a href="http://onelinky.ga/oauth/facebook" title="Facebook">
    <fa name="facebook" class="social-icon"></fa>
  </a>
  <a href="http://onelinky.ga/oauth/twitter" title="Twitter">
    <fa name="twitter" class="social-icon"></fa>
  </a>
  <a href="http://onelinky.ga/oauth/microsoft" title="Microsoft">
    <fa name="windows" class="social-icon"></fa>
  </a>
</div>
