<div class="row section-2">
    <div class="table-responsive col-xl-6 col-md-5">
        <table>
            <tr>
              <td>
                <!--Marker trends-->
              <div class="row borderSection">
                <div class="col-12">
                  <div class="row contentSection">
                    <div class="col-6 d-flex">
                      <h1  class="results-title">Market trends</h1>
                    </div>
                    <div class="ml-auto">
                      <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">Search</button>
                      <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">Show more...</button>
                    </div>
                    <div class="wrapper ml-auto">                      
                        <canvas id="MarketValueChart" width="650" height="400"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <!--Sales -->
              <div class="row borderSection">
                  <div class="col-12">
                    <div class="row contentSection">
                      <div class="col-6 d-flex">
                        <h1  class="results-title">Sales</h1>
                      </div>
                      <div class="ml-auto">
                        <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">Search...</button>
                        <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">Show more...</button>
                      </div>
                      <div class="ml-auto">
                        <table border="1" style="width: 650px;">
                          <tr>
                            <td>columnA</td>
                            <td>columnA</td>
                            <td>columnA</td>
                            <td>columnA</td>
                          </tr>
                        <tr>
                            <td>columnA</td>
                            <td>columnA</td>
                            <td>columnA</td>
                            <td>columnA</td>
                          </tr>
                          <tr>
                            <td>columnA</td>
                            <td>columnA</td>
                            <td>columnA</td>
                            <td>columnA</td>
                          </tr>
                          <tr>
                            <td>columnA</td>
                            <td>columnA</td>
                            <td>columnA</td>
                            <td>columnA</td>
                          </tr>
                        </table>
                      </div>
                      <div class="ml-auto">
                        <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">Favorites</button>
                        <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">Latest sales</button>
                        <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">Noteworthy</button>
                      </div>
                    </div>
                  </div>
                </div>   
                <!--News -->
                <div class="row borderSection">
                    <div class="col-12">
                      <div class="row contentSection">
                        <div class="col-6 d-flex">
                          <h1  class="results-title">News</h1>
                        </div>
                        <div class="col-12 d-flex newsSectionStatDown">
                            <div class="col-3 d-flex">
                              <div>
                                <img src="./assets/imgs/136-collection-smooth.png" style="height: 100px; width: 150px;" alt="" >
                              </div>
                            </div>
                            <div class="col-9 d-flex">
                                Art Gallery of St. Albert Snag is an exhibit of works by Wes Bell. Opening reception on Saturday, Nov. 9 from 2:30 to 5 p.m. The artist will be in attendance and will be giving a short artist talk at 3 p.m. Until Saturday, Nov. 30.
                            </div>
                        </div>
      
                        <div class="col-12 d-flex newsSectionStatDown">
                            <div class="col-3 d-flex">
                              <div>
                                <img src="./assets/imgs/136-collection-smooth.png" style="height: 100px; width: 150px;" alt="" >
                              </div>
                            </div>
                            <div class="col-9 d-flex">
                                Art Gallery of St. Albert Snag is an exhibit of works by Wes Bell. Opening reception on Saturday, Nov. 9 from 2:30 to 5 p.m. The artist will be in attendance and will be giving a short artist talk at 3 p.m. Until Saturday, Nov. 30.
                            </div>
                        </div>
                        <div class="ml-auto">
                          <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">Search...</button>
                          <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">Show more...</button>
                          <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">News filter and topics</button>
                        </div>
                      </div>
                    </div>
                  </div> 
            </td>
          </tr>
        </table>
    </div>


  <div class="col-xl-6 col-md-5">
    <!--My Collection -->
    <div class="row borderSectionRight">
      <div class="col-12">
        <div class="row contentSection">
              <div class="col-6 d-flex">
                <h1  class="results-title">MyCollection</h1>
              </div>
              <div class="ml-auto">
                <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">See more...</button>
              </div>
        </div>
      </div>
    </div>
    <!-- Portfolio verview--> 
    <div class="row borderSectionRight">
      <div class="col-12">
        <div class="row contentSection">
              <div class="col-6 d-flex">
                <h1  class="results-title">Portfolio overview</h1>
              </div>
              <div class="ml-auto">
                <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">See more...</button>
              </div>
              <div class="wrapper ml-auto">                      
                <canvas id="MarketValueChart1" width="400" height="400"></canvas>
            </div>
            <div class="wrapper ml-auto">                      
              <canvas id="MarketValueChart2" width="200" height="400"></canvas>
            </div>
            <div class="ml-auto">
              <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">Add/Update Works</button>
              <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">View Transactions</button>
              <button type="button" class="btn btn-warning button-login"  routerLink="/login"   routerLinkActive="active">Additonal Info</button>
            </div>
        </div>
      </div>
    </div>
    <!-- This week's Climbers and Fallers--> 
    <div class="row borderSectionRight">
      <div class="col-12">
        <div class="row contentSection">
              <div class="col-6 d-flex">
                <h1  class="results-title">This week's Climbers and Fallers</h1>
              </div>
              <div class="ml-auto">
                <button type="button" class="btn btn-warning button-login"  routerLink="/login" routerLinkActive="active">See all works...</button>
              </div>

              <div class="col-12 d-flex borderSectionStatGrow">
                  <div class="col-6 d-flex">
                    <div>
                      <img src="./assets/imgs/136-collection-smooth.png" style="height: 192px; width: 270px;" alt="" >
                    </div>
                  </div>
                  <div class="col-6 borderSectionStatText d-flex flex-row flex-wrap">
                      <div class="cardPriceDate">Last update: 12 August 2018, 12 AM</div>
                      <div class="cardPrice">114.3</div>
                      <div class="cardPriceCommentsUp ml-auto">+1.85 (1.42%)</div>
                      <div class="cardPriceDetails">All Information</div>
                  </div>
              </div>

              <div class="col-12 d-flex borderSectionStatDown">
                  <div class="col-6 d-flex">
                    <div>
                      <img src="./assets/imgs/136-collection-smooth.png" style="height: 192px; width: 270px;" alt="" >
                    </div>
                  </div>
                    <div class="col-6 borderSectionStatText d-flex flex-row flex-wrap">
                      <div class="cardPriceDate">Last update: 12 August 2018, 12 AM</div>
                      <div class="cardPrice">114.3</div>
                      <div class="cardPriceCommentsDown ml-auto">+1.85 (1.42%)</div>
                      <div class="cardPriceDetails">All Information</div>
                    </div>
              </div>
        </div>
      </div>
    </div>

     <!-- Portfolio verview--> 
    <div class="row borderSectionRight">
        <div class="col-12">
          <div class="row contentSection">
                <div class="col-12 d-flex">
                  <h1  class="results-title">Portfolio overview A</h1>
                </div>                
                <div class="col-12 d-flex ml-auto">
                  <div class="portfolioValue1">111</div>
                  <div class="portfolioValue1">111</div>
                </div>
                <div class="col-12 d-flex ml-auto">
                    <div class="portfolioValue2">The company, with a market capitalization of $18.1 billion, reported </div>
                    <div class="portfolioValue2">The company, with a market  </div>
                  </div>
  
                <div class="wrapper ml-auto">                      
                  <canvas id="MarketValueChartA" width="300" height="200"></canvas>
              </div>
              <div class="wrapper ml-auto">                      
                <canvas id="MarketValueChartA1" width="300" height="200"></canvas>
              </div>
          </div>
        </div>
      </div>



 
</div>
