.app-calendar {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 30px;
}

h3 {
  margin: 0 0 10px;
}

.container-fluid {
  padding: 70px 50px 50px 50px;
}

.spacer-top {
  margin-top: 15px;
}

.firstsection {
  margin-bottom: 50px;
}

.secondsection {
  margin-bottom: 50px;
  text-align: center;
}

.thirdsection {
  margin-bottom: 50px;
  text-align: center;
}
.thirdsection p {
  text-align: center;
}

.forthsection {
  margin-bottom: 50px;
  text-align: center;
}

.cal-day-selected,
.cal-day-selected:hover {
  background-color: lightblue !important;
}

.slidersection {
  height: 400px;
}

.slideritem {
  height: 100%;
}

.radiosection {
  text-align: left;
  position: absolute;
  bottom: 40px;
}

:host ::ng-deep mat-slider div.mat-slider-wrapper {
  background-color: black !important;

}
:host ::ng-deep mat-slider div.mat-slider-thumb {
  background-color: grey !important;
}

.fc-event {
  cursor: pointer;
}

:host ::ng-deep span.e-tick-value.e-tick-after {
  background-color: red;
}

#state-button {
  width: 100%;
  margin-bottom: 5px;
  font-size: 1.2em;
}
@media screen and (max-width: 1248px) and (min-width: 990px){
  #state-button {
    font-size: 0.85em;
  }
}
@media screen and (max-width: 990px) {
  #state-button {
    font-size: 1.2em;
  }
}
.angular-popper.visible {
  z-index: 99999;
  width: 300px;
  height: 250px;
  font-size: 12px;
}
