<div class="container-fluid" (click)="clickEvent($event)">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 firstsection">
      <div class="card">
        <div class="card-body">
          <div class="spacer-top">
            <div class='app-calendar'>
              <full-calendar
                #calendar
                [eventLimit]="eventLimit"
                [selectable]="calendarSelectable"
                [header]="{
                  left: 'prev,next today',
                  center: 'title',
                  right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                }"
                [plugins]="calendarPlugins"
                [weekends]="calendarWeekends"
                [events]="calendarEvents"
                (eventClick)="eventClick($event)"
              ></full-calendar>
            </div>
            <div content style="text-align: left;" id="my-popper">
              <div x-arrow></div>
              <h6>{{ modalData?.title }}</h6>
              <hr>
              <p>{{ modalData?.museum }}</p>
              <p>{{ modalData?.start }}</p>
              <p>{{ modalData?.end }}</p>
              <p>{{ modalData?.tprice }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 secondsection">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <button class="btn btn-outline-dark btn-lg" id="state-button" data-toggle="button" aria-pssed="true" autocomplete="off" (click)="viewExibitions()">View Exhibitions</button>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <button class="btn btn-outline-dark btn-lg" id="state-button" data-toggle="button" aria-pssed="true" autocomplete="off" (click)="viewLectures()">View Lectures and Talks</button>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <button class="btn btn-outline-dark btn-lg" id="state-button" data-toggle="button" aria-pssed="true" autocomplete="off" (click)="viewActions()">View Actions</button>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <button class="btn btn-outline-dark btn-lg" id="state-button" data-toggle="button" aria-pssed="true" autocomplete="off" (click)="viewEvents()">View Museum Events</button>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 thirdsection">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12s">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="slidersection">
                <ejs-slider #eventSlider id='minrange' [value]='value' [min]='min' [max]='max' [type]='type' [ticks]='ticks' [tooltip]='tooltip' (created)='onCreated()' (change)='onChange($event)' [orientation]='orientation'></ejs-slider>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="radiosection">
                <div class="form-check" style="margin-bottom: .5em;">
                  <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked> <span style="padding-left: .5em;">Kilometers</span>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label" for="radio2">
                    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2"> <span style="padding-left: .5em;">Miles</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
