.app-calendar {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 30px;
}

h3 {
  margin: 0 0 10px;
}

.container-fluid {
  padding: 70px 50px 50px 50px;
}

.spacer-top {
  margin-top: 15px;
}

.firstsection {
  margin-bottom: 50px;
}

.secondsection {
  margin-bottom: 50px;
  text-align: center;
}

.thirdsection {
  margin-bottom: 50px;
  text-align: center;
}
.thirdsection p {
  text-align: center;
}

.forthsection {
  margin-bottom: 50px;
  text-align: center;
}

.cal-day-selected,
.cal-day-selected:hover {
  background-color: lightblue !important;
}

.slidersection {
  height: 400px;
}

.slideritem {
  height: 100%;
}

.radiosection {
  text-align: left;
  position: absolute;
  bottom: 40px;
}

:host ::ng-deep mat-slider div.mat-slider-wrapper {
  background-color: black !important;

}
:host ::ng-deep mat-slider div.mat-slider-thumb {
  background-color: grey !important;
}

.fc-event {
  cursor: pointer;
}

:host ::ng-deep span.e-tick-value.e-tick-after {
  background-color: red;
}

#state-button {
  width: 100%;
  margin-bottom: 5px;
  font-size: 1.2em;
}
@media screen and (max-width: 1248px) and (min-width: 990px){
  #state-button {
    font-size: 0.85em;
  }
}
@media screen and (max-width: 990px) {
  #state-button {
    font-size: 1.2em;
  }
}

$popper-bg: rgba(246, 236, 228, 1);

#my-popper {
  display: none;
  z-index: 99999;
  width: 300px;
  height: 250px;
  font-size: 12px;
  background: $popper-bg;
  padding: 10px;
  text-align: center;
  filter: drop-shadow(1px 1px 2px #000000);
  [x-arrow] {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
  }
}
#my-popper[x-placement^="top"] {
  margin-bottom: 15px;
  [x-arrow] {
    border-width: 15px 15px 0 15px;
    border-color: $popper-bg transparent transparent transparent;
    bottom: -15px;
    left: calc(50% - 15px);
    margin-top: 0;
    margin-bottom: 0;
  }
}
#my-popper[x-placement^="bottom"] {
  margin-top: 15px;
  [x-arrow] {
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent $popper-bg transparent;
    top: -15px;
    left: calc(50% - 15px);
    margin-top: 0;
    margin-bottom: 0;
  }
}
#my-popper[x-placement^="right"] {
  margin-left: 15px;
  [x-arrow] {
    border-width: 15px 15px 15px 0;
    border-color: transparent $popper-bg transparent transparent;
    left: -15px;
    top: calc(50% - 15px);
    margin-left: 0;
    margin-right: 0;
  }
}
#my-popper[x-placement^="left"] {
  margin-right: 15px;
  [x-arrow] {
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent $popper-bg;
    right: -15px;
    top: calc(50% - 15px);
    margin-left: 0;
    margin-right: 0;
  }
}
