.news-cont{
  margin: 0 auto;
  padding: 2rem;


  .news{
    margin-top: 50px;

    &-thumb{
      width: 100%;
    }

    &-title{
      cursor: pointer;

      &:hover{
        color: #efc25f;
      }

    }

    &-desc{

    }

  }

}
