<div class="main-container">
  <div class="main-content">
    <div class="image-content">
      <img src="../../../assets/imgs/background.jpg" alt="background">
    </div>
    <div class="form-content">
      <div class="logo-section">
        <img src="../../../assets/imgs/Logo.svg" alt="logo">
      </div>
      <div class="title-section">
        <span>Please create new account.</span>
      </div>
      <form [formGroup]="signForm" (ngSubmit)="onSubmit()">
        <div class="form-group name-section">
          <div class="form-group name-content">
            <span class="input-label">First Name</span>
            <br>
            <input type="text" formControlName="firstName" placeholder="" class="form-control input-content-sm" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group name-content">
            <span class="input-label">Last Name</span>
            <br>
            <input type="text" formControlName="lastName" placeholder="" class="form-control input-content-sm" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
          </div>
        </div>
        <div class="form-group input-section">
          <span class="input-label">Email Address</span>
          <br>
          <input type="text" formControlName="email" placeholder="" class="form-control input-content" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group input-section">
          <span class="input-label">Phone Number</span>
          <br>
          <input type="tel" formControlName="phoneNumber" mask="+0 (000) 000-00-00" [showMaskTyped] = "true" placeholder="" class="form-control input-content" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
          <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
            <div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
            <div *ngIf="f.phoneNumber.errors['Mask error']">Incorrect phone number</div>
          </div>
        </div>
        <div class="form-group input-section">
          <span class="input-label">Password</span>
          <br>
          <input type="password" formControlName="password" placeholder="" class="form-control input-content" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
          </div>
        </div>
        <div class="form-group button-section">
          <button><span>Sign Up</span></button>
        </div>
      </form>
      <div class="signin-section">
        Already have an account? <a routerLink='/signin' routerLinkActive="active">Sign In.</a>
      </div>
    </div>
  </div>
</div>
