<div class="row section-2" >
  <div class="col-xl-3 col-lg-5 col-12 about-left" >
    <span class="section-title">About Us</span>
  </div>
  <div class="col-xl-9 col-12 about-right" >
    <div class="content"  >
      <p class="author-story-mote-text">ArtDatabase seeks to create great transparency of the art world and markets, giving users tools for research, investments and much more. We have implemented the most advanced databasing and tracking software in fine art, as our constantly growing database stays up to date with the current movements of fine art. Whether you are a casual browser or a fine art researcher, ArtDatabase provides the software that you need to explore the art world.</p>
      <div class="author-story-more"></div>
    </div>
  </div>
</div>
<div class="row section-3">
  <div class="col d-flex about-left">
    <div class="image-holder w-100">
      <img class="w-100" src="./assets/imgs/Paul_Gauguin_-_D'ou_venons-nous.jpg" alt="">
    </div>

  </div>
</div>
<div class="row section-4" >
  <div class="col-xl-3 col-lg-12 about-left d-flex  left-block-about" >
    <div class="d-flex flex-column w-100" style="margin: 0 0 1rem 0;">
      <span class="w-100 title-left-about">Location</span>
      <span class="w-100 :">Location: New York, NY</span>
    </div>
    <div class="d-flex flex-column w-100" style="margin: 0 0 1rem 0;">
      <span class="w-100 title-left-about">Email</span>
      <span class="w-100 title-left-value">info@artdatabase.com</span>
    </div>
    <div class="d-flex flex-column w-100" style="margin: 0 0 1rem 0;">
      <span class="w-100 title-left-about">Social networks</span>
      <div class="w-100 d-flex ">
        <div class="" style="    margin: 0 1rem 0 0;">
          <img src="./assets/imgs/svg/facebook-logo.svg" alt="">
        </div>
        <div class="" style="    margin: 0 1rem 0 0;">
          <img src="./assets/imgs/svg/twitter.svg" alt="">
        </div>
        <div class="" style="    margin: 0 1rem 0 0;">
          <img src="./assets/imgs/svg/instagram.svg" style="height: 18px" alt="">
        </div>

      </div>
    </div>

  </div>
  <div class="col-xl-9 col-12 about-right" >
    <div class="content"  >
      <p class="author-story-mote-text">ArtDatabase was created in 2018 by John Kimball, an undergraduate student at Brown University. The foundation of ArtDatabase started with the concept of a highly centralized database of all fine art. With our centralized database, we are able to implement new tools for research involving artificial intelligence, machine learning, market analytics and collection management.</p>
    </div>
    <br>
    <div class="content"  >
      <p class="author-story-mote-text"> We are constantly exploring the different ways that we can involve new technology to enhance the research and outreach of fine art all over the world.</p>
    </div>

  </div>

</div>
<!--
<div class="row section-5">
  <div class="col-xl  d-none d-xl-block ">
  </div>
  <div class="col-xl-5 col-md-12  col-12  d-flex works-info p-0 flex-column">
    <div class="row">
      <div class="col-xl-6 col-md-3 col-sm-6 col-12 p-0 d-flex item-container m-auto">
        <div class=" service-item">
          <img class="service-image" src="./assets/imgs/second-mate.jpg" alt="">
          <span class="service-title" style="margin: auto 1rem 1rem auto;">Tim</span>
        </div>
      </div>


      <div class="col-xl-6 col-md-3 col-sm-6 col-12 p-0 d-flex item-container m-auto">
        <div class=" service-item">
          <img class="service-image"  src="./assets/imgs/third-mate.jpg" alt="">
          <span class="service-title" >Ericka</span>
        </div>
      </div>
      <div class="col-xl-6 col-md-3 col-sm-6 col-12 p-0 d-flex item-container m-auto">
        <div class=" service-item">
          <img class="service-image" src="./assets/imgs/first-mate.jpg" alt="">
          <span class="service-title">John</span>
        </div>
      </div>
      <div class="col-xl-6 col-md-3 col-sm-6 col-12 p-0 d-flex item-container m-auto">
        <div class="service-item">
          <img class="service-image "  src="./assets/imgs/fourth-mate.jpg" alt="">
          <span class="service-title">Jessie</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-5 col-md-12  col-12  d-flex works-info works-info-right flex-column">
    <span class="w-100 our-team-title" style="margin: auto 0 1rem 0;">Our Team</span>
    <p style="margin:  1rem 0 auto 0">Our dedicated team has been with us since the very start of ArtDatabase, and have made it into what it is today. Led by Founder and CEO, John Kimball, our team has pushed the boundaries of data analysis and technology within fine art. We are primarily located in New York City, but our team is located all over the world in London, Providence, Venezuela and Toronto.</p>
  </div>

    <div class="col-xl  d-none d-xl-block">

    </div>

</div>
-->
<div class="col-xl  d-none d-xl-block ">
 </div>
 <div class="container">
    <div class="row">
        <div class="align-content-center">
          <span class="w-100 our-team-title" style="margin: auto 0 1rem 0;">Our Team</span>
          <p style="margin:  1rem 0 auto 0">Our dedicated team has been with us since the very start of ArtDatabase, and have made it into what it is today. Led by Founder and CEO, John Kimball, our team has pushed the boundaries of data analysis and technology within fine art. We are primarily located in New York City, but our team is located all over the world in London, Providence, Venezuela and Toronto.</p>
      </div>
    </div>
</div>

<div class="container pt-lg-3">
  <div class="row">
    <div class="col-sm">
      <div class="our-team-subtitle"> Leadership</div>
      <div class="d-flex flex-column">
        <div class="p-2">Chloe Kimall, Trustee</div>
        <div class="p-2">Eliza Kimball, Trustee</div>
      </div>
    </div>
    <div class="col-sm">
      <div class="our-team-subtitle">Executive</div>
      <div class="d-flex flex-column">
          <div class="p-2">John Kimball, Founder and CEO</div>
          <div class="p-2">Alec Ginsberg, CFO</div>
          <div class="p-2">Orey Dutton, COO</div>
        </div>
    </div>
    <div class="col-sm">
      <div class="our-team-subtitle">Research</div>
      <div class="d-flex flex-column">
        <div class="p-2">Lamia Preistley, Director of Research </div>
        <div class="p-2">Julia Thompson, Artist Researcher</div>
      </div>
    </div>
    <div class="col-sm">
      <div class="our-team-subtitle">Design</div>
      <div class="d-flex flex-column">
          <div class="p-2">Jesus Caraballo, Sr. Software Engineer</div>
        </div>
      </div>
  <div class="col-sm">
    <div class="our-team-subtitle">Development</div>
      <div class="d-flex flex-column">
        <div class="p-2">Jesus Caraballo, Sr. Software Engineer</div>
        <div class="p-2">Jonathan Kinlay, Director of Analytical and Financial Development</div>
        <div class="p-2">JaeSung Kim, Director of Database Management</div>
        <div class="p-2">Kamil Czoska, Software Analyst</div>
        <div class="p-2">Igor Zagorodniy, Front-end Developer</div>
        <div class="p-2">Ashutosh Pal, Project Manager and Administrative Assistant</div>
      </div>
  </div>
</div>

