<div class="col-11 search-block" >
  <div class="row">
    <div class="col-xl-6 col-lg-8 d-flex flex-column">
      <div class="search-holder m-auto  w-100">
        <form  class="form" ngNativeValidate>
          <div class="form-item">
            <input type="text" class="form-control looking-field" placeholder="What are you looking for?"
                   value="Choose location from the list.." aria-label="Recipient's username" aria-describedby="basic-addon2" id="dropdownMenuButton"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="input-group-append">
              <div class="search-icon-holder">
                <img class="search-icon" src="./assets/imgs/svg/magnifying-glass.svg" alt="Search">
              </div>
            </div>
            <div class="dropdown-menu w-100 p-0" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="getArtworksByLocation(location['id'])" *ngFor="let location of locations" >
                <div class="d-flex w-100 flex-column">
                  <span class="drop-item-title">{{location['name']}}</span>
                  <span class="drop-item-address">{{location['address']}}</span>
                </div>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>


    <div class="col-xl-6 col-lg-4 d-flex flex-column">
      <div class="options-holder m-auto">
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-sm-3 col-6 d-flex check-item"   [ngStyle]="{'opacity':input1.disabled? 0.5 : 1}" >
            <label class="checkbox">
              <input  #input1 type="checkbox" disabled>
              <span class="default"></span>
            </label>
            <span class="" style="margin: auto 0 auto 0.5rem" (click)="input1.click()">All</span>
          </div>
          <div class="col-xl-3 col-lg-6 col-sm-3 col-6  d-flex check-item" [ngStyle]="{'opacity':input2.disabled? 0.5 : 1}" >
            <label class="checkbox">
              <input #input2 type="checkbox" >
              <span class="default"></span>
            </label>
            <span class="" style="margin: auto 0 auto 0.5rem" (click)="input2.click()">Popular arts</span>
          </div>
          <div class="col-xl-3 col-lg-6 col-sm-3 col-6  d-flex check-item" [ngStyle]="{'opacity':input3.disabled? 0.5 : 1}">
            <label class="checkbox" >
              <input #input3  type="checkbox" />
              <span class="default"></span>
            </label>
            <span class=""  style="margin: auto 0 auto 0.5rem" (click)="input3.click()">Auctions</span>
          </div>
          <div class="col-xl-3 col-lg-6 col-sm-3 col-6  d-flex check-item" [ngStyle]="{'opacity':input4.disabled? 0.5 : 1}"  >
            <label class="checkbox">
              <input #input4 type="checkbox" disabled>
              <span class="default"></span>
            </label>
            <span class="" style="margin: auto 0 auto 0.5rem" (click)="input4.click()">Museums</span>
          </div>

          <div class="col-xl-3 col-lg-6 col-sm-3 col-6  d-flex check-item" [ngStyle]="{'opacity':input5.disabled? 0.5 : 1}" >
            <label class="checkbox">
              <input #input5 type="checkbox" />
              <span class="default"></span>
            </label>
            <span class="" style="margin: auto 0 auto 0.5rem" (click)="input5.click()">Near me</span>
          </div>
          <div class="col-xl-3 col-lg-6 col-sm-3 col-6 d-flex check-item" [ngStyle]="{'opacity':input6.disabled? 0.5 : 1}">
            <label class="checkbox">
              <input #input6 type="checkbox" />
              <span class="default"></span>
            </label>
            <span class="" style="margin: auto 0 auto 0.5rem"  (click)="input6.click()">Exhibitions</span>
          </div>
          <div class="col-xl-3 col-lg-6 col-sm-3 col-6  d-flex check-item"[ngStyle]="{'opacity':input7.disabled? 0.5 : 1}"  >
            <label class="checkbox">
              <input #input7 type="checkbox" />
              <span class="default"></span>
            </label>
            <span class="" style="margin: auto 0 auto 0.5rem" (click)="input7.click()">Artist Talks</span>
          </div>
          <div class="col-xl-3 col-lg-6 col-sm-3 col-6  d-flex check-item"  [ngStyle]="{'opacity':input4.disabled? 0.5 : 1}" >
            <label class="checkbox">
              <input #input8 type="checkbox" disabled>
              <span class="default"></span>
            </label>
            <span class="" style="margin: auto 0 auto 0.5rem" (click)="input8.click()"> Openings</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-11 search-block" >
    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Advanced search
      </button>
      <button id="sortType">Sort</button>

    <div class="accordion" id="accordionExample">
        <div class="card">
          <!-- <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Advanced search
              </button>
            </h5>
          </div> -->

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row">
                    <div class="col-2" >
                     <!-- <form  [formGroup]="search" class="form" (ngSubmit)="search()" ngNativeValidate> -->
                        <span class="block-name m-auto">Artwork</span>
                        <div class="form_group mb-3 mt-2">
                            <label for="form_item">Title</label>
                            <input class="form-control" type="text" required>
                            <small class="x-small">Title of art</small>
                        </div>
                        <div class="form_group mb-3 mt-2">
                            <label for="title">Artists</label>
                            <input class="form-control"  type="text" required>
                            <small class="form-text text-muted ">Comments for field</small>
                        </div>
                        <div class="form_group mb-3 mt-2">
                            <label for="title">Date From</label>
                            <input  class="form-control"  type="date"  required>
                            <small class="form-text text-muted ">Comments for field</small>
                        </div>
                        <div class="form_group mb-3 mt-2">
                            <label for="title">Date To</label>
                              <input class="form-control"  type="date" required>
                              <small class="form-text text-muted ">Comments for field</small>
                        </div>
                        <div class="form_group mb-3 mt-2">
                            <label for="title">Medium</label>
                            <input class="form-control" type="text"  required>
                            <small class="form-text text-muted ">Comments for field</small>
                        </div>
                        <div class="form_group mb-3 mt-2">
                            <label for="title">Size</label>
                            <input class="form-control"  type="text"  required>
                            <small class="form-text text-muted ">Comments for field</small>
                        </div>
                        <div class="form_group mb-3 mt-2">
                            <label for="title">Obj type</label>
                            <input class="form-control"  type="text"  required>
                            <small class="form-text text-muted ">Comments for field</small>
                        </div>
                        <div class="form_group mb-3 mt-2">
                            <label for="title">Current owner</label>
                            <input class="form-control"  type="text" required>
                            <small class="form-text text-muted ">Comments for field</small>
                        </div>
                        <div class="form_group mb-3 mt-2">
                            <label for="title">Current location</label>
                            <input class="form-control" type="text" required>
                            <small class="form-text text-muted ">Comments for field</small>

                      </div>
                        <div class="form_group mb-3 mt-2">
                            <label for="title">Image source</label>
                            <input class="form-control"  type="text" required>
                            <small class="form-text text-muted ">Comments for field</small>

                        </div>
                        <div class="form_group mb-3 mt-2">
                            <label for="title">Movement</label>
                              <input class="form-control"  type="text" required>
                              <small class="form-text text-muted ">Comments for field</small>

                        </div>
                        <div class="form_group mb-3 mt-2">
                            <label class="form_item">Location created</label>
                              <input class="form-control"  type="text" required>
                              <small class="form-text text-muted ">Comments for field</small>

                        </div>
                        <div class="form_group mb-3 mt-2">
                            <label class="form_item">Artist nationality</label>
                              <input class="form-control"  type="text" required>
                              <small class="form-text text-muted ">Comments for field</small>
                        </div>
                      <!-- </form> -->
                    </div>
                    <div class="col-2" >
                        <!-- <form  [formGroup]="search" class="form" (ngSubmit)="search()" ngNativeValidate> -->
                          <span class="block-name m-auto">Artists</span>

                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">First name</label>
                              <input class="form-control"  type="text"  required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item ">Last name</label>
                              <input class="form-control"  type="text"  required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item ">Full name</label>
                              <input class="form-control" class="form-control"  type="text" required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item ">Life range</label>
                              <input class="form-control"  type="text"  required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Occupation</label>
                                <select class="form-control" id="exampleFormControlSelect1" >
                                    <option>painter</option>
                                    <option>sculptor</option>
                                    <option>painter</option>
                                    <option>painter</option>
                                    <option>painter</option>
                                  </select>
                                  <small class="form-text text-muted ">Comments for field</small>

                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Minimum amount of total works</label>
                            <input class="form-control"  type="text" required>
                            <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Nationality</label>
                            <input class="form-control"  type="text" required>
                            <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Image Search</label>
                            <input class="form-control"  type="text"  required>
                            <small class="form-text text-muted ">Comments for field</small>
                          </div>
                        <!-- </form>  -->
                    </div>
                    <div class="col-2" >
                        <!-- <form  [formGroup]="search" class="form" (ngSubmit)="search()" ngNativeValidate> -->
                          <span class="block-name m-auto">Museums</span>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Name</label>
                              <input class="form-control"  type="text" required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Location</label>
                              <input  class="form-control"  type="text"  required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Nonprofit or for profit</label>
                              <input class="form-control" type="text" required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Select a range of prices that you can afford or free</label>
                              <input class="form-control"  type="text"  required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Movement associated</label>
                                <input class="form-control"  type="text"  required>
                                <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Minimum amount of total works</label>
                                  <input class="form-control"  type="text" required>
                                  <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Nationality</label>
                                <input class="form-control"  type="text" required>
                                <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Image search</label>
                                <input class="form-control"  type="text" required>
                                <small class="form-text text-muted ">Comments for field</small>
                          </div>

                        <!-- </form>  -->
                    </div>
                    <div class="col-2" >
                        <!-- <form  [formGroup]="search" class="form" (ngSubmit)="search()" ngNativeValidate> -->
                          <span class="block-name m-auto">Movements</span>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Name</label>
                              <input class="form-control"  type="text" required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Associated movements</label>
                              <input class="form-control"  type="text"  required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                        <!-- </form> -->
                    </div>
                    <div class="col-2" >
                       <!-- <form  [formGroup]="search" class="form" (ngSubmit)="search()" ngNativeValidate>-->
                          <span class="block-name m-auto">Exhibitions</span>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Name</label>
                              <input class="form-control"  type="text"  required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Location</label>
                              <input class="form-control"  type="text" required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Museum</label>
                              <input class="form-control"  type="text" required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Movements associated</label>
                            <input class="form-control"  type="text" required>
                            <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Artists associated with the exhibition</label>
                            <input class="form-control"  type="text" required>
                            <small class="form-text text-muted ">Comments for field</small>
                          </div>
                        <!-- </form> -->
                    </div>
                    <div class="col-2" >
                        <!-- <form  [formGroup]="search" class="form" (ngSubmit)="search()" ngNativeValidate> -->
                          <span class="block-name m-auto">Publications</span>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Name</label>
                              <input class="form-control" type="text" required>
                            <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Location</label>
                              <input class="form-control"  type="text" required>
                            <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Author</label>
                                <input class="form-control"  type="text"  required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Availability</label>
                                <input class="form-control"  type="text" required>
                              <small class="form-text text-muted ">Comments for field</small>
                          </div>
                          <div class="form_group mb-3 mt-2">
                            <label class="form_item">Price</label>
                            <input class="form-control"  type="text" required>
                            <small class="form-text text-muted ">Comments for field</small>
                          </div>
                        <!-- </form> -->
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-default button-navigate" type="submit">Search</button>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>



<div class="row justify-content-center" style="margin: 4rem 0 0 0">
<div class="col-xl-11 col-12 m-auto section4">
  <div class="">
    <div id="database" class="">
      <div class="row justify-content-center artworks-block">
        <div class="col-xl-11 col-12 d-flex">
          <span class="block-name m-auto">Artworks</span>
        </div>
      </div>

      <div class="row justify-content-center artworks-block">
        <div class="col-xl-11 col-12">
          <div class="row gallery-block show" id="galleryGrid">
            <div class="col-xl col-lg-4 col-md-6 col-12 d-flex p-0 flex-column" *ngFor="let artwork of artworks">
              <div class="hovereffect m-auto flex-column" [routerLink]="['/works/' + artwork.id]">
                <div class="slider-block"> {{artwork['title']}}</div>
                <div>
                  <img class="img-responsive borderImage" src="./assets/imgs/eclipse.png" alt="" width="100%" >
                </div>
                <div class="slider-block"> {{artwork['technique']}}</div>
                <div style="align-self: center;">
                    <div style="text-align: left;padding-right: 40px;">
                      <img src="./assets/imgs/svg/user.svg" style=" height: 18px; margin: auto 0;"> Author <br>
                      <img src="./assets/imgs/svg/clock.svg" style="height: 18px; margin: auto 0;"> Year <br>
                      <img src="./assets/imgs/svg/medium.svg" style="height: 18px; margin: auto 0;"> Medium <br>
                      <img src="./assets/imgs/svg/location.svg" style="height: 18px; margin: auto 0;"> Location
                    </div>
                </div>
             </div>
            </div>
          </div>
          <div class="pb-0 pt-3">
            <a class="btn btn-default button-navigate" (click)="getArtworks(artworksPagination['prev'])">Prev</a>
            <a class="btn btn-default button-navigate" (click)="getArtworks(artworksPagination['next'])">Next</a>
          </div>
        </div>
      </div>

      <div class="row justify-content-center artworks-block">
        <div class="col-xl-11 col-12 d-flex">
          <span class="block-name m-auto">Artists</span>
        </div>
      </div>
      <div class="row justify-content-center artworks-block" >
        <div class="col-xl-11 col-12">
          <div class="row">
            <div class="col-xl col-sm-6 d-flex flex-column p-0" *ngFor="let artist of artists">
              <div class="hovereffect m-auto flex-column" [routerLink]="['/authors/' + artist.id]">
                <img class="img-responsive" src="./assets/imgs/Vincent.png" alt="" class="borderImage" width="100%">
                <div class="overlay-2"></div>
                <div class="overlay row m-0">
                  <div class="col d-flex bot-part">
                    <div>
                      <span class="info">{{artist['firstName']}}<br>{{artist['lastName']}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


