<div class="row section2 m-0">
  <div class="col-xl-4 col-md-3 d-none d-md-block left-block">
    <div class="img-holder">
      <img src="./assets/imgs/28.png" alt="img" style="margin: auto 30px auto 0">
    </div>
    <div class="img-holder">
      <img src="./assets/imgs/39.png" alt="img" style="margin: auto auto auto 30px">
    </div>
  </div>
  <div class="col-xl-4 col-md-6 col-10 m-auto middle-block">
    <h1><b><span class="logo-shadow">Register</span> to discover<br> the world of art</b></h1>

    <form [formGroup]="registerForm" class="form" (ngSubmit)="register()" ngNativeValidate>
      <div class="form_group">
        <label class="form_item">
          <input formControlName="firstName" type="text" placeholder="First name" required>
        </label>
        <div *ngIf="f.firstName.errors?.serverError" class="text-danger">
          {{ f.firstName.errors.serverError }}
        </div>
      </div>
      <div class="form_group">
        <label class="form_item">
          <input formControlName="lastName" type="text" placeholder="Last name" required>
        </label>
        <div *ngIf="f.lastName.errors?.serverError" class="text-danger">
          {{ f.lastName.errors.serverError }}
        </div>
      </div>
      <div class="form_group">
        <label class="form_item">
          <input formControlName="email" type="email" placeholder="Email" required>
        </label>
        <div *ngIf="f.email.errors?.serverError" class="text-danger">
          {{ f.email.errors.serverError }}
        </div>
      </div>
      <div class="form_group">
        <label class="form_item">
          <input formControlName="phone" type="number" placeholder="Phone number" required>
        </label>
        <div *ngIf="f.phone.errors?.serverError" class="text-danger">
          {{ f.phone.errors.serverError }}
        </div>
      </div>
      <div class="form_group">
        <label class="form_item">
          <input formControlName="password" type="password" placeholder="Password" title="" required>
        </label>
        <div *ngIf="f.password.errors?.serverError" class="text-danger">
          {{ f.password.errors.serverError }}
        </div>
      </div>
      <div class="form_group">
        <label class="form_item">
          <input formControlName="confirmPassword" type="password" placeholder="Confirm password" title="" required>
        </label>
      </div>
      <div class="form_group check-item">
        <label class="checkbox">
          <input formControlName="isAgree" type="checkbox" checked="true" required/>
          <span class="default"></span>
        </label>
        <span class="" style="margin: auto 0 auto 0.5rem" checked>I agree to <a routerLink='/terms'>terms and conditions</a></span>
      </div>
      <div class="form_group">
        <div class="">
          <button class="btn btn-link" type="button">Forgot Password?</button>
        </div>
      </div>

      <div class="form_group">
        <button class="btn btn-warning button-login" type="submit">
          Register
          <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </button>
      </div>
      <div class="form_group">
        <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
      </div>

    </form>

    <app-social-auth></app-social-auth>

    <div style="font-size: 14px; margin: 3rem 0 0  0">I have an account. <a routerLink="/login" routerLinkActive="active" class="register">Login</a>
    </div>
  </div>
  <div class="col-xl-4 col-md-3 d-none d-md-block right-block">
    <div class=" col d-flex p-0">
      <img src="./assets/imgs/142.png" alt="img" style="margin: 0 30px 30px auto; height: 171px">
    </div>
    <div class=" col d-flex p-0">
      <img src="./assets/imgs/155.png" alt="img" style="margin: 0 0 30px auto">
    </div>
  </div>
</div>
