<div class="row section-1">
        <div class="col-xl-4 col-md-6 col-12  d-flex flex-column text-left author-info">
      
            <div class="w-100 author-years"><span>National Portrait Gallery, 2018 </span></div>
            <div class="d-flex flex-column w-100 author-name">
              <span class=" w-100"><br></span>
              <span class=" w-100"></span>
            </div>
            <div class="author-story"><p> </p></div>
            <div class="d-flex w-100">
              <button class="btn btn-warning save-artist">Save Artist</button>
            </div>
      
          <div class="d-flex arrows-holder">
            <button class="btn btn-light next-arrow-transp"><img style="height: 20px" class="m-auto" src="./assets/imgs/svg/arrow-pointing-to-left.svg"></button>
            <button class="btn btn-light next-arrow-transp"><img style="height: 20px" class="m-auto" src="./assets/imgs/svg/arrow-pointing-to-right-gray.svg"></button>
          </div>
        </div>
      
      
        <div class="col-xl-4   d-none d-xl-flex flex-column">
          <div class="col d-flex">
              <div class="img-wrapper"><img class="middle-img borderImage" src="./assets/imgs/vincent-vangogh-2-authors.png" alt="">
                </div>
              </div>
              <div class="col d-flex">
              <div class="img-wrapper"><img class="middle-img borderImage" src="./assets/imgs/vincent-vangogh-1-authors.png" alt="">
                </div>
             </div>
          </div>
        <div class="col-xl-4 col-md-6  col-12  d-flex">
          <div class="col d-flex">
            <div class="right-img-wrapper">
            <img class="right-img borderImage" src="./assets/imgs/vincent-vangogh-3-authors.png" alt="">
          </div>
          </div>
        </div>
      </div>