/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Courier New";
  background-color: #F6EDE4;
}

@import '../node_modules/@fullcalendar/core/main.css';
@import '../node_modules/@fullcalendar/daygrid/main.css';
@import '../node_modules/@fullcalendar/timegrid/main.css';

@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';

@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';

@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';

@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";

.ag-theme-balham {
      background-color: transparent;
      border: 0px;
      font-family: 'Courier New', Courier, monospace;
      font-size: 14px;
      secondary-font-family:  'Courier New', Courier, monospace;
      secondary-font-size: 14px;

      .ag-row-even{
        background-color: transparent;
      }

      .ag-row-odd{
        background-color: transparent;
      }

      .ag-header{
        background-color: transparent;
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
      }
}


@font-face {
  font-family: "Courier New";
  src: url("./assets/fonts/SpaceGrotesk-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Courier New";
  src: url("./assets/fonts/SpaceGrotesk-Light.otf") format("opentype");
}

@font-face {
  font-family: "Courier New";
  src: url("./assets/fonts/SpaceGrotesk-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Courier New";
  src: url("./assets/fonts/SpaceGrotesk-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Courier New";
  src: url("./assets/fonts/SpaceGrotesk-Medium.otf") format("opentype");
}

@font-face {
  font-family: TypeWriter;
  src: url("./assets/fonts/typewriter.otf") format("opentype");
}

span.logo-shadow {
  text-shadow: #ff1e66 -3px 2px;
  font-family: "Courier New";
  font-size: 3.5rem;
}

span.logo-text {
  font-size: 2.2rem;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}

