* {
  font-family: SpaceGrotesk, Helvetica, Arial, sans-serif;
}

.button-login {
  background: #efc25f;
  width: 170px;
}

div.section2{
  margin-bottom: 3rem;
}
div.middle-block {
  margin: 0 0 2rem 0;
  text-align: center;
}
div.middle-block h1 {
  margin: 0 0 1rem 0;
}
div.middle-block form{

  margin: 1rem 2rem;
}

div.middle-block form div.form_group {
  margin: 0.5rem 0;
}
button.btn-link {
  text-decoration: none;
  color: #635967;
  opacity: 0.8;

}
a.register {
  color: #EFC25F;
}
a.register:hover {
  cursor: pointer;
  color: brown;
}

.form-desc {
  width: 50%;
  margin: auto;
  overflow: hidden;
  height: 45px;
}

form input {
  border: 1px solid #EFC25F;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
}

div.img-holder:not(:first-child) {
  margin: 30px auto;
  display: flex;
}

div.left-block,
div.right-block,
div.middle-block {
  padding: 0;
}

div.left-block,
div.right-block {
  margin-top: 64px;
}
div.right-block {
  display: flex;
}
div.right-block img {
  margin: 0 0 0 auto;
}
