div.section-2 {
  margin: 6rem 0 4rem 0;
}

.title-wrapper {
  margin-bottom: 40px;
}

span.section-title {
  font-size: 44px;
  font-family: SpaceGroteskBold, Helvetica, Arial, sans-serif;
}

div.terms {
  text-align: justify;
}
