<div class="row justify-content-center section-2">
  <div class="title-wrapper">
    <span class="section-title">Terms and Conditions</span>
  </div>
  <div class="col-11 m-auto text-center">
    <div class="content">
      <div class="terms">
        <p>These Website Standard Terms and Conditions written on this webpage shall manage your use of our
          website, Webiste Name accessible at Website.com.</p>

        <p>These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed
          to accept all terms and conditions written in here. You must not use this Website if you disagree with any of
          these Website Standard Terms and Conditions.</p>
      </div>
    </div>
  </div>
</div>
